/* HOMEPAGE STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.containerHome{
  display: flex;
  flex-direction: column;
}
.imgHome {
  width: 700px;
  height: 300px;
  margin: auto;
}
.titleHome {
  color: #f06292;
  text-align: center;
  margin-top: 30px;
}

/* NAVBAR STYLES */

.appBar{
  position: fixed;
  width: 100%;
}
.toolBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f06292;
  color: #ffffff;
}
.logoAppBar{
  height: 80px;
}
.cartWidget{
  color: #ffffff;
}
